<%= form_for @schedule do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="Act_options">  
  	<%= options_from_collection_for_select(Act.all, :id, :name) %>
  </div>

  <div id="Event_options">
  	<%= options_from_collection_for_select(Event.all, :id, :name) %>
  </div>

  <div style="margin: 10px;">

    <div class="field">
      <%= f.label 'Select a schedulable child' %><br />
      <%= f.select(:schedulable_type, ["Act", "Event"]) %><%= f.collection_select(:schedulable_id, @schedulables, :id, :name)%>
    </div>

    <div class="field">
      <%= f.label 'Select Venue/Location' %><br />
    	<%= f.collection_select(:location_id, @locations, :id, :form_picker_name)%>
    </div>

 <div class="field">
	<%= f.label :start %><br />
	<%= f.datetime_select :start, :include_blank => true  %>
 </div>

 <div class="field">
	<%= f.label :end %><br />
	<%= f.datetime_select :end, :include_blank => true  %>
 </div>
	
 <div class="field">
	<%= f.label :order %><br />
	<%= f.text_field :order %>
 </div>

  	<%= f.hidden_field :parent_id %>

  <div class="actions" style="padding: 20px 0;">
    <%= f.submit %>
  </div>

  </div>


<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $("select#schedule_schedulable_type").change(populate_schedulables);
    });
</script>


