<%= form_for @schedule do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div id="Act_options">  
	<%= options_from_collection_for_select(Act.all, :id, :name) %>
</div>

<div id="Event_options">
	<%= options_from_collection_for_select(Event.all, :id, :name) %>
</div>

<h3>Schedule A Parent</h3>
<div style="margin: 10px;">

  <div class="field">
    <%= f.label 'Select a schedulable parent' %><br />
	<%= f.select(:schedulable_type, ["Act", "Event"]) %><%= f.collection_select(:schedulable_id, @schedulables, :id, :name)%>
  </div>

  <div class="field">
    <%= f.label 'Select Venue/Location' %><br />
	<%= f.collection_select(:location_id, @locations, :id, :form_picker_name)%>
  </div>

 <div class="field">
	<%= f.label :start %><br />
	<%= f.datetime_select :start  %>
 </div>

 <div class="field">
	<%= f.label :end %><br />
	<%= f.datetime_select :end, :include_blank => true  %>
 </div>

  <%= f.hidden_field :parent_id %>

	<div id="links" style="margin-top: 20px; border-top: 1px solid #000; position: relative; padding-top: 20px;">
		<p style="background-color: #fff; padding: 3px; position: absolute; top: -12px; left: 5px; font: bold 12pt helvetica;">Web Links</p>
		<%= link_to_add_fields "Add Link", f, :links %>
		<%= f.fields_for :links do |builder| %>
			<%= render "link_fields", :f => builder %>
		<% end %>
	</div>  

	<div id="links" style="margin-top: 20px; border-top: 1px solid #000; position: relative; padding-top: 20px;">
		<p style="background-color: #fff; padding: 3px; position: absolute; top: -12px; left: 5px; font: bold 12pt helvetica;">Web Links</p>
		<%= link_to_add_fields "Add Details", f, :details %>
		<%= f.fields_for :details do |builder| %>
			<%= render "detail_fields", :f => builder %>
		<% end %>
	</div>  

<div class="actions" style="padding: 20px 0;">
<%= f.submit %>
</div>

</div>


<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $("select#schedule_schedulable_type").change(populate_schedulables);
    });
</script>


