<% index_area do %>
  <% @schedule.group_by{|s| s.start.to_date}.sort.each do |start_date, parent_items_for_date| %>
		<h3><%= date_and_times(start_date) %></h3>
		<% parent_items_for_date.each do |p| %>
  		<%= link_to schedule_path(p), :class => "link_box" do %>
    		<%= logo_image(p.location.venue, :class => "small") %>
				<div class="info">
					<h4><%= p.schedulable.name %><span class="times">, <%= time_list([p] + Schedule.children_that_are_same_as(p)) %></span></h4>
					<%= content_tag :h5, p.location.display_name if p.location.display_name.present? %>
					<% if p.agenda.count > 0 %>	
						<% p.agenda.each do | schedulable_key, schedulable_items| %>
							<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times">, <%= time_list(schedulable_items) %></span></p>
						<% end %>
					<% end %>
					<% if p.details.count > 0 %>
						<p>Additional Details:<p>
							<% p.details.each do |detail| %>
							<div class="description">
								<p><%= detail.name %><%= detail.description.present? ? ": " : "" %><%= detail.description %></p>
							</div>				
						<% end %>
					<% end %>
				</div>
			<% end %>		
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
  <h3>Schedule Admin - <span class="signout"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></span></h3>
 
  <table>
    <tr class="child">
      <td colspan="8"><%= link_to 'New Parent Item', new_schedule_path %></td>
    </tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="4">Functions</th>
    </tr>
 
    <% @all_parents.each do |parent| %>
      <tr class="parent">
        <td><%= parent.id %></td>
        <td><%= parent.schedulable.name %></td>
        <td><%= display_time(parent.start) %></td>
        <td><%= display_time(parent.end) %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_schedule_path(parent) %></td>
        <td><%= link_to 'Add Child', new_child_path(parent) %></td>
        <td><%= link_to 'Remove', parent, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
      <% parent.children.each do |child| %>
        <tr class="child">
          <td><%= child.id %></td>
          <td style="padding-left: 50px;"><%= child.schedulable.name %></td>
          <td><%= display_time(child.start) %></td>
          <td><%= display_time(child.end) %></td>
          <td><%= link_to 'Show', child %></td>
          <td><%= link_to 'Edit', edit_schedule_path(child) %></td>
          <td></td>
          <td><%= link_to 'Remove', child, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
