<% index_area do %>
<% @schedule.group_by{|s| s.start.to_date}.sort.each do |start_date, parent_items_for_date| %>
		<h3><%= date_and_times(start_date) %></h3>
		<% parent_items_for_date.each do |p| %>
		<%= link_to schedule_path(p), :class => "link_box" do %>
		<%= logo_image(p.location.venue, :class => "small") %>
				<div class="info">
					<h4><%= p.schedulable.name %><span class="times">, <%= time_list([p] + Schedule.children_that_are_same_as(p)) %></span></h4>
					<%= content_tag :h5, p.location.name if p.location.name? %>
					<% if p.agenda.count > 0 %>	
						<% p.agenda.each do | schedulable_key, schedulable_items| %>
							<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times">, <%= time_list(schedulable_items) %></span></p>
						<% end %>
					<% end %>
				</div>
			<% end %>
		
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
<% end %>
