<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
		<img src="<%= logo_for(@schedule.schedulable) %>" style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(226,226,226,0.2))); margin: 0 10px 50px 0; float: left;" />
	<div class="infoShow">
	    <h4><%= @schedule.schedulable.name %></h4>
		<div class="description" id="venue_collapsable">
			<%= textilize(@schedule.schedulable.description) %>
		</div>		
	</div>
	<% if @schedule.schedulable.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @schedule.schedulable.links.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
    </div>
<% end %>

<% upcoming_area do %>
<% if false %>
<h2>Upcoming at <%= @venue.name %></h2>
<% @future_schedulables.group_by{ |s| s.start.to_date}.each do |date, schedulables_for_date | %>
	<h3><%= date_and_times(date) %></h3>
	<% schedulables_for_date.each do |schedulable| %>
		<%= link_to "http://www.apple.com", :class => "link_box" do %>
		<img src="<%= logo_for(schedulable.schedulable) %>" class="small" />
			<div class="info">
				<h4><%= schedulable.schedulable.name %></h4>
				<p class="times"><%= time_list([schedulable] + Schedule.children_that_are_same_as(schedulable)) %></p>					
				<% if schedulable.agenda.count > 0 %>	
					<% schedulable.agenda.each do | schedulable_key, schedulable_items| %>
						<p><%= Schedule.retrieve(*schedulable_key).name %></p>
						<p class="times"><%= time_list(schedulable_items) %></p>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>
<% end %>

<% end %>

<% admin_area do %>
	<%= link_to edit_venue_path(@venue) do %>
		<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
	<% end %>
<% end %>



