<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
		<div class="infoShow">
			<%= logo_image(@schedule.schedulable, :class => "large") %>
		    <h4><%= @schedule.schedulable.name %></h4>
			<%= content_tag :h5, @schedule.location.display_name if @schedule.location.display_name.present? %>
			<div class="description" id="venue_collapsable">
				<%= textilize(@schedule.schedulable.description) %>
			</div>
			
			<% if @schedule.details.count > 0 %>
				<p>Additional Details:<p>
				<% @schedule.details.each do |detail| %>
					<div class="addDetails">
						<p><strong><%= detail.name %></strong><%= detail.description.present? ? ": " : "" %><%= detail.description %></p>
					</div>				
				<% end %>
			<% end %>

			<p class="dates"><%= date_and_times(@schedule.start) %>, <%= times(@schedule) %></p>	

			<% if @schedule.schedulable.links.count > 0 %>
				<% @schedule.links.each do |link| %>
					<%= make_link(link) %>
				<% end %>
			<% end %>
	    </div>
		
		<% if @schedule.schedulable.links.count > 0 %>
		<p class="visit">Links for <%= @schedule.schedulable.name %>:</p>
			<% @schedule.schedulable.links.sort_by{|schedulable| schedulable.weblocation.name}.each do |link| %>
				<%= make_link(link) %>
			<% end %>
		<% end %>
    </div>
<% end %>



<% upcoming_area do %>
<% if @schedule.location != nil %>
	<h2>Venue</h2>
		<%= link_to venue_path(@schedule.location.venue), :class => "link_box" do %>
		<%= logo_image(@schedule.location.venue, :class => "small") %>
		<h4 class="oneline"><%= @schedule.location.venue.name %></h4>	
	<% end %>
<% end %>

<% if @schedule.children.count > 0 %>
	<h2>Acts</h2>
	<% @schedule.acts.each do |act| %>
	<%= link_to act_path(act), :class => "link_box" do %>
	<%= logo_image(act, :class => "small") %>
			<h4 class="oneline"><%= act.name %></h4>	
		<% end %>
	<% end %>
<% end %>

<% if @future_schedulables.count > 0 %>
	<h2>Upcoming <%= @schedule.schedulable.name %></h2>
	<% @future_schedulables.group_by{ |s| s.start.to_date}.each do |date, schedulables_for_date | %>
		<h3><%= date_and_times(date) %></h3>
		<% schedulables_for_date.each do |schedulable| %>
			<%= link_to schedule_path(schedulable), :class => "link_box" do %>
			<%= logo_image(schedulable.location.venue, :class => "small") %>
				<div class="info">
					<h4><%= schedulable.schedulable.name %><span class="times"><%= time_list([schedulable] + Schedule.children_that_are_same_as(schedulable)) %></span></h4>
					<h5><%= schedulable.location.display_name if schedulable.location.display_name.present? %></h5>
					<% if schedulable.agenda.count > 0 %>	
						<% schedulable.agenda.each do | schedulable_key, schedulable_items| %>
							<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times"><%= time_list(schedulable_items) %></span></p>
						<% end %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>
	<% end %>
<% end %>

<% admin_area do %>
<% end %>



