# Schedule show page

<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
		<div class="infoShow">
			<%= logo_image(@schedule.schedulable, :class => "large") %>
	    <h5><%= @schedule.schedulable.name %></h5>
		<p class="hometown"><%= @schedule.schedulable.hometown if @schedule.festival_id.present? %></p>
		<p class="festival"><%= @schedule.festival.name if @schedule.festival_id.present? %></p>


			<%= content_tag :p, (@schedule.location.display_name if @schedule.location.display_name.present?), :class => "location" %>
			<p class="dates"><%= date_and_times(@schedule.start) %>, <%= times(@schedule) %></p>	
			<div class="description" id="venue_collapsable">
				<%= textilize(@schedule.schedulable.description) %>
			</div>
			
			<% if @schedule.details.count > 0 %>
				<p>Additional Details:<p>
					<% @schedule.details.sort_by(&:order).each do |detail| %>
					<div class="addDetails">
						<p><strong><%= detail.name %></strong><%= detail.description.present? ? ": " : "" %><%= detail.description %></p>
					</div>				
				<% end %>
			<% end %>


			<% if @schedule.schedulable.links.count > 0 %>
				<% @schedule.links.each do |link| %>
					<%= make_link(link) %>
				<% end %>
			<% end %>
	    </div>
		
		<% if @schedule.schedulable.links.count > 0 %>
		<p class="visit">Links for <%= @schedule.schedulable.name %>:</p>
			<% @schedule.schedulable.links.sort_by{|schedulable| schedulable.weblocation.popularity}.each do |link| %>
				<%= make_link(link) %>
			<% end %>
		<% end %>
    </div>
<% end %>

<% related_area do %>
<% if @schedule.festival != nil %>
  	<h2>Festival</h2>
  		<%= link_to festival_path(@schedule.festival), :class => "link_box" do %>
  		<%= logo_image(@schedule.festival, :class => "small") %>
  		<h5 class="oneline"><%= @schedule.festival.name %></h5>	
  	<% end %>
  <% end %>

	<% if @schedule.location != nil %>
		<h2>Venue</h2>
			<%= link_to venue_path(@schedule.location.venue), :class => "link_box" do %>
			<%= logo_image(@schedule.location.venue, :class => "small") %>
			<h5 class="oneline"><%= @schedule.location.venue.name %></h5>	
		<% end %>
	<% end %>

	<% if @schedule.children.count > 0 %>
		<h2>Acts</h2>
		<% @schedule.acts.each do |act| %>
		<%= link_to act_path(act), :class => "link_box" do %>
		<%= logo_image(act, :class => "small") %>
				<h5 class="oneline"><%= act.name %></h5>	
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% in_progress_area do %>
  <% if @in_progress.count > 0 %>
  <%= render :partial => 'shared/schedule_list', :locals => {:list => @in_progress, :options => {:class => "inprogress"}, :title => "Happening Now", :item_partial => 'shared/schedule_item'} %>
  <% end %>
<% end %>

<% upcoming_area do %>
  <% if @upcoming.count > 0 %>
  <%= render :partial => 'shared/schedule_list', :locals => {:list => @upcoming, :options => {:class => "upcoming"}, :title => "Upcoming #{@schedule.schedulable.name}", :item_partial => 'shared/schedule_item'} %>
  <% end %>
<% end %>

<% admin_area do %>
<% end %>



