<a href=<%= event_path(event) %> style="background-image: url(<%= image_path event.logo %>);
">
<span class="event_name"><%= event_name(event) %></span>

<% features(event).each do |feature| %>
	<p class="event_feature"><%= feature.promotion.name %></p>
<% end %>
<p class="event_times"><%= event_times(event) %></p></a>
