<a href=<%= event_path(event) %> style="padding-left:7px; background: url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
<span class="event_name"><%= event.event_start.strftime("%A, %B %d, %Y")%></span>

<% features(event).each do |feature| %>
    <p class="event_feature"><%= feature.name %></p>
<% end %>
<p class="event_times"><%= event_times(event) %></p></a>
