<div id="header"><h1>DEW IT!</h1></div>

<h2><%= @events.first.start_date %></h2>

<div class="events">

<% @events.each do |event| %>

    <a href="#" style="background-image: url(<%= image_path event.logo %>);
	background-repeat: no-repeat;
	background-position: 5px center;
	min-height: 84px;
	"><div class="arrow"><span class="event"><%= event.name %></span><br />

	<span class="act">
	<% event.features.each do |feature| %>
		<%= feature.promotion.name %><br />
	<% end %>
	</span>
	<span class="time">4pm-9pm</span></div></a>

<% end %>

</div>               

<br />

<%= link_to 'New Event', new_event_path %>
