<p id="notice"><%= notice %></p>

<% index_area do %>
<h2>Events</h2>
	<% @events.group_by{ |e| e.name.chars.first }.each do |letter, events| %>
		<h3><%= letter %></h3>
		<% events.each do |event| %>
		<a href=<%= event_path(event) %> style="background: url(<%= logo_for(event, :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<h4 style="padding-top: 20px;"><%= event.name %></h4>
		</a>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to 'New Event', new_event_path %>
<% end %>