<p id="notice"><%= notice %></p>

<% index_area do %>
<h3>Events</h3>
	<% @events.group_by{ |e| e.name.chars.first }.each do |letter, events| %>
		<h2><%= letter %></h2>
		<% events.each do |event| %>
		<%= link_to event_path(event), :class => "link_box" do %>
		<%= logo_image(event, :class => "small") %>
			<h4 class="oneline"><%= event.name %></h4>
		<% end %>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
<h3>Events Admin - <span class="signout"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></span></h3>
 
<table>
  <tr class="child">
    <td colspan="5"><%= link_to 'New Event', new_event_path %></td>
  </tr>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th colspan="3">Functions</th>
  </tr>
 
<% @events.each do |event| %>
  <tr class="parent">
    <td><%= event.id %></td>
    <td><%= event.name %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Remove', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
