<p id="notice"><%= notice %></p>

<div class="boxSpecific">
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@event, @occurrence) %>) no-repeat 10px 10px">
	<div class="event_name"><%= @event.name %></div>
	<div class="event_times"><%= occurrence_times(@occurrence) %></div>	
    <p class="event_description"><%= @event.description %></p>
	</div>
    
	<% if @occurrence %>
	<% @occurrence.venues.uniq.each do |venue| %>
			<%= link_to venue.name, venue_path(venue), :class => "event_venue" %>
		<% end %>

		<% @occurrence.acts.each do |act| %>
		<%= link_to act.name, act_path(act), :class => "event_act" %>
	    <% end %>
	<% end %>

	<div class="webLinks">
	<a href="#" class="webAnchor webSite"></a>
	<a href="#" class="webAnchor facebook"></a>
	<a href="#" class="webAnchor twitter"></a>
	</div>
	</div>

<div class="boxIndex">
<h2>Upcoming <%= @event.name.pluralize %></h2>
<% @future_occurrences.each do |date, occurrences| %>
	<% occurrences.each do |occurrence| %>
	<a href="#" style="background: url(<%= logo_for(occurrence.event, occurrence) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
		<span class="event_name"><%= date_and_times(date, occurrence) %></span>
		<% occurrence.acts.each do |act| %>
			<p class="event_feature"><%= act.name %></p>
		<% end %>
    <% end %>
<% end %></a>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
