<p id="notice"><%= notice %></p>

<div class="boxSpecific">
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@event, :large) %>) no-repeat 10px 10px">
	<div class="event_name"><%= @event.name %></div>
	<% if @occurrence %>
		<div class="event_times"><%= date_and_times(@occurrence.event_start) %></div>	
		<div class="event_times"><%= occurrence_times(@occurrence) %></div>	
	<% end %>
    <p class="event_description"><%= @event.description %></p>
	</div>
    
	<% if @occurrence %>
		<% @occurrence.venues.each do |venue| %>
			<%= link_to venue.name, venue_path(venue), :class => "event_venue" %>
		<% end %>

		<% @occurrence.performances.each do |performance| %>
		<a class="act_box" href=<%= act_path(performance.act) %> style="background: url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<div class="event_act"><%= performance.act.name %></div>
			<div class="event_times"><%= performance_times(performance) %></div></a>
	    <% end %>
	<% end %>

	<div class="webLinks">
	<a href="#" class="webAnchor webSite"></a>
	<a href="#" class="webAnchor facebook"></a>
	<a href="#" class="webAnchor twitter"></a>
	</div>
	</div>

<%= render :partial => "shared/upcoming_occurrences", :locals => { :title => "Upcoming #{@event.name.pluralize}", :occurrences => @future_occurrences } %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
