<p id="notice"><%= notice %></p>
<% specific_area do %>
<div class="specificHeader">
	<%= logo_image(@event, :class => "large") %>
	<div class="infoShow">
		<h4><%= @event.name %></h4>
		<div class="description" id="event_collapsable">
			<%= textilize(@event.description) %>
		</div>
	</div>
	<% if @event.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @event.links.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
</div>
<% end %>


<% upcoming_area do %>
<% if @future_schedulables.count > 0 %>
<h2>Upcoming for <%= @event.name %></h2>
		<% @future_schedulables.group_by{|s| s.start.to_date}.sort.each do |start_date, parent_items_for_date| %>
			<h3><%= date_and_times(start_date) %></h3>
			<% parent_items_for_date.each do |p| %>
			<%= link_to schedule_path(p), :class => "link_box" do %>
			<%= logo_image(p.location.venue, :class => "small") %>
					<div class="info">
						<h4><%= p.schedulable.name %><span class="times">, <%= time_list([p] + Schedule.children_that_are_same_as(p)) %></span></h4>
						<%= content_tag :h5, p.location.name if p.location.name? %>
						<% if p.agenda.count > 0 %>	
							<% p.agenda.each do | schedulable_key, schedulable_items| %>
								<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times">, <%= time_list(schedulable_items) %></span></p>
							<% end %>
						<% end %>
					</div>
				<% end %>		
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<% if false %>
		<%= link_to edit_event_path(@event) do %>
			<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
		<% end %>
	<% end %>
<% end %>
