<p id="notice"><%= notice %></p>
<% specific_area do %>
<div class="specificHeader">
	<div class="infoShow">
		<%= logo_image(@event, :class => "large") %>
		<h5><%= @event.name %></h5>
		<div class="description" id="event_collapsable">
			<%= textilize(@event.description) %>
		</div>
	</div>
	<% if @event.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @event.links.sort_by{|event| event.weblocation.popularity}.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
</div>
<% end %>


<% in_progress_area do %>
	<% if @in_progress.count > 0 %>
	<%= render :partial => 'shared/schedule_list', :locals => {:list => @in_progress, :options => {:class => "inprogress"}, :title => "Happening Now for #{@event.name}", :item_partial => 'shared/schedule_item'} %>
	<% end %>
<% end %>

<% upcoming_area do %>
	<% if @upcoming.count > 0 %>
	<%= render :partial => 'shared/schedule_list', :locals => {:list => @upcoming, :options => {:class => "upcoming"}, :title => "Upcoming for #{@event.name}", :item_partial => 'shared/schedule_item'} %>
	<% end %>
<% end %>
