<p id="notice"><%= notice %></p>

<% specific_area do %>
<div class="specificHeader" style="background: #e2e2e2 url(<%= logo_for(@event, :large) %>) no-repeat 10px 10px">
<h4><%= @event.name %></h4>
<p class="description"><%= @event.description %></p>
<% if @occurrence %>
	<p><%= date_and_times(@occurrence.event_start) %></p>	
	<p class="times"><%= occurrence_times(@occurrence) %></p>	
<% end %>
<%= link_to "", @event.website, :target => "_blank", :class => "webAnchor webSite" %>
<%= link_to "", @event.facebook, :target => "_blank", :class => "webAnchor facebook" %>
<%= link_to "", @event.twitter, :target => "_blank", :class => "webAnchor twitter" %>

</div>
    
<% if @occurrence %>
	<%= content_tag :h3, pluralize(@occurrence.venues.count, "Venue") %>
	<% @occurrence.venues.each do |venue| %>
	<%= link_to venue_path(venue), {:class => "venue_box", :style => "background: url(#{logo_for(venue, :small)}) no-repeat 10px 10px,  url(#{asset_path 'arrow.png'}) no-repeat right center;"} do %>
		<p><%= venue.name %></p>
	<% end %>
	<% end %>

	<%= content_tag :h3, pluralize(@occurrence.performances.count, "Performance") %>
	<% @occurrence.performances.each do |performance| %>
	<%= link_to act_path(performance.act), {:class => "act_box", :style => "background: url(#{logo_for(performance.act, :small)}) no-repeat 10px 10px,  url(#{asset_path 'arrow.png'}) no-repeat right center;"} do %>
		<p><%= performance.act.name %></p>
		<p class="times"><%= performance_times(performance) %></p>
	<% end %>
    <% end %>
<% end %>

<% end %>

<% upcoming_area do %>
	<h2>Upcoming <%= @event.name.pluralize %></h2>
	<% @future_occurrences.group_by{ |o| o.event_start}.each do |date, occurrences_for_date | %>
		<% occurrences_for_date.each do |occurrence| %>
		<%= link_to current_event_path(occurrence.event, occurrence), {:style => "background: url(#{logo_for(occurrence.venues[0], :small)}) no-repeat 10px 10px,  url(#{asset_path 'arrow.png'}) no-repeat right center;"} do %>
			<h4><%= date_and_times(date, occurrence) %></h4>
			<% occurrence.performances.each do |performance| %>
				<% if performance.priority > 0 %>
				<p><%= performance.act.name %></p>
				<% end %>
			<% end %>
		<% end %>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Back', events_path %>
<% end %>