<p id="notice"><%= notice %></p>

<div class="boxSpecific">
    <!--<%= image_tag image_path @event.logo if @event.logo %>-->
    <%= @event.name %>
    <%= @event.description %>

    
    <% @venues.each do |venue, features| %>
        <%= link_to venue.name, venue_path(venue) %>

        <% features.each do |feature| %>
            <%= link_to feature.promotion.name, promotion_path(feature.promotion) %>
        <% end %>

    <% end %>
</div>


<div class="boxIndex">
<h2>Upcoming <%= @event.name.pluralize %></h2>
    <% @future_events.each do |event| %>
        <%= render 'upcoming_events', :event => event %>
    <% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
