<% in_progress_area do %>
	<h2>Happening now (7/2/2011 @ 10pm)</h2>
	<% @happening_now.each do |occurrence| %>
		<div class="event">
			<a href=<%= current_event_path(occurrence.event, occurrence) %> style="background: url(<%= logo_for(occurrence.venues[0], :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<h4><%= occurrence.event.name %></h4>
			<% occurrence.acts.each do |act| %>
				<p><%= act.name %></p>
			<% end %>
			<p class="times"><%= occurrence_times(occurrence) %></p></a>
		</div>
	<% end %>
<% end %>

<% upcoming_area do %>
	<% @future_occurrences.group_by{|o| o.event_start.to_date}.each do |start_date, occurrences| %>
		<h2><%= date_and_times(start_date) %></h2>
		<% occurrences.each do |occurrence| %>
			<a href=<%= current_event_path(occurrence.event, occurrence) %> style="background: url(<%= logo_for(occurrence.venues[0], :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<h4><%= occurrence.event.name %></h4>
			<% occurrence.acts.each do |act| %>
				<p><%= act.name %></p>
			<% end %>
			<p class="times"><%= occurrence_times(occurrence) %></p></a>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to 'New Event', new_event_path %>
<% end %>