<h1>Listing special_events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
    <th>Logo</th>
    <th>Event</th>
    <th>Special event start</th>
    <th>Special event end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @special_events.each do |special_event| %>
  <tr>
    <td><%= special_event.name %></td>
    <td><%= special_event.description %></td>
    <td><%= special_event.link %></td>
    <td><%= special_event.logo %></td>
    <td><%= special_event.event %></td>
    <td><%= special_event.special_event_start %></td>
    <td><%= special_event.special_event_end %></td>
    <td><%= link_to 'Show', special_event %></td>
    <td><%= link_to 'Edit', edit_special_event_path(special_event) %></td>
    <td><%= link_to 'Destroy', special_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Special event', new_special_event_path %>
