<%= link_to schedule_path(schedule_item), :class => "link_box" do %>
	<%= logo_image(schedule_item.schedulable, :class => "small") %>
	<div class="info">
    <%= content_tag :h5 do %>
      <%= schedule_item.schedulable.name %><span class="times"><%= time_list([schedule_item] + Schedule.children_that_are_same_as(schedule_item)) %></span>
    <% end %>
		<p class="hometown"><%= schedule_item.schedulable.hometown if schedule_item.festival_id.present? %></p>
		<p class="festival"><%= schedule_item.festival.name if schedule_item.festival_id.present? %></p>
		<%= content_tag :p, (schedule_item.location.display_name if schedule_item.location.display_name.present?), :class => "location" %>
		<% if schedule_item.agenda.count > 0 %>	
			<% schedule_item.agenda.each do | schedulable_key, schedulable_items| %>
				<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times"><%= time_list(schedulable_items) %></span></p>
			<% end %>
		<% end %>
	</div>
<% end %>
