<h1>Listing venues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Logo</th>
    <th>Address</th>
    <th>Gps coordinates</th>
    <th>Hours</th>
    <th>Link</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.logo %></td>
    <td><%= venue.address %></td>
    <td><%= venue.gps_coordinates %></td>
    <td><%= venue.hours %></td>
    <td><%= venue.link %></td>
    <td><%= venue.description %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
