<p id="notice"><%= notice %></p>

<div class="boxSpecific">
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@venue, :large) %>) no-repeat 10px 10px">
    <h2><%= @venue.name %></h2>
    <p><%= @venue.description %></p>
    <p><%= @venue.address1 %><br/>
    <%= @venue.address2 if @venue.address2 %><br/>
    <%= @venue.city %>, <%= @venue.state %>  <%= @venue.zip %></p>
    <p>Phone: <%= @venue.phone %></p>
    <%= link_to "On the web", @venue.website, :target => "_blank" %>
    </div>
</div>

<%= render :partial => "shared/upcoming_occurrences", :locals => { :title => "Upcoming Events at #{@venue.name}", :occurrences => @future_occurrences } %>





