<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
	<div class="infoShow">
		<%= logo_image(@venue, :class => "large") %>
	    <h4><%= @venue.name %></h4>
		<div class="description" id="venue_collapsable">
			<%= textilize(@venue.description) %>
		</div>		
	    <p><%= @venue.address1 %><br/>
		<% if @venue.address2.present? %>	
			<%= @venue.address2 %><br/>
		<% end %>
	    <%= @venue.city %>, <%= @venue.state %>  <%= @venue.zip %></p>
	    <p>Phone: <%= @venue.phone %></p>
	</div>
	<% if @venue.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @venue.links.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
    </div>
<% end %>

<% upcoming_area do %>
	<% if @future_schedulables.count > 0 %>
		<h2>Upcoming at <%= @venue.name %></h2>
		<% @future_schedulables.group_by{ |s| s.start.to_date}.each do |date, schedulables_for_date | %>
			<h3><%= date_and_times(date) %></h3>
			<% schedulables_for_date.each do |schedulable| %>
				<%= link_to schedule_path(schedulable), :class => "link_box" do %>
				<%= logo_image(schedulable.schedulable, :class => "small") %>
					<div class="info">
						<h4><%= schedulable.schedulable.name %><span class="times"><%= time_list([schedulable] + Schedule.children_that_are_same_as(schedulable)) %></span></h4>
						<%= content_tag :h5, schedulable.location.display_name if schedulable.location.display_name.present? %>
						<% if schedulable.agenda.count > 0 %>	
							<% schedulable.agenda.each do | schedulable_key, schedulable_items| %>
								<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times"><%= time_list(schedulable_items) %></span></p>
							<% end %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<% if false %>
		<%= link_to edit_venue_path(@venue) do %>
			<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
		<% end %>
	<% end %>
<% end %>



