<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@venue, :large) %>) no-repeat 10px 10px">
    <h3><%= @venue.name %></h3>
    <p class="description"><%= @venue.description %></p>
    <p><%= @venue.address1 %><br/>
	<% if @venue.address2 %>	
		<%= @venue.address2 %><br/>
	<% end %>
    <%= @venue.city %>, <%= @venue.state %>  <%= @venue.zip %></p>
    <p>Phone: <%= @venue.phone %></p>
    </div>
	<div class="webLinks">
	<%= link_to "", @venue.website, :target => "_blank", :class => "webAnchor webSite" %>
	<%= link_to "", @venue.facebook, :target => "_blank", :class => "webAnchor facebook" %>
	<%= link_to "", @venue.twitter, :target => "_blank", :class => "webAnchor twitter" %>
	</div>
<% end %>

<% upcoming_area do %>
<h2>Upcoming Events at <%= @venue.name %></h2>
	<% @future_occurrences.group_by{ |o| o.event_start}.each do |date, occurrences_for_date | %>
		<% occurrences_for_date.each do |occurrence| %>
		<a href=<%= current_event_path(occurrence.event, occurrence) %> style="background: url(<%= logo_for(occurrence.event, :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<h3 class="event_name"><%= occurrence.event.name %></h3>
			<% occurrence.performances.each do |performance| %>
				<% if performance.priority > 0 %>
				<p><%= performance.act.name %></p>
				<% end %>
			<% end %>
			<p class="times"><%= date_and_times(date, occurrence) %></p>
		</a>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to 'Edit', edit_venue_path(@venue) %> |
	<%= link_to 'Back', venues_path %>
<% end %>



