<% @title = @venue.name %>
<div class="specificHeader">
	<div id="side">
		<%= logo_image(@venue, :class => "large") %>
		<%= content_tag :p, "Visit us:", :class => "visit" if @venue.links.present? %>
		<% @venue.links.sort_by{|venue| venue.weblocation.popularity}.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	</div>
	<div class="infoShow">
    <h5><%= @venue.name %></h5>
		<% if @venue.address1.present? %>	
	    <p><%= @venue.address1 %><br/>
  		<% if @venue.address2.present? %>	
  			<%= @venue.address2 %><br/>
  		<% end %>
    	<%= @venue.city %>, <%= @venue.state %>  <%= @venue.zip %></p>
		<% end %>
		<% if @venue.phone.present? %>	
			<p>Phone: <%= @venue.phone %></p>
		<% end %>
		<div class="description" id="venue_collapsable">
			<%= textilize(@venue.description) %>
		</div>		
	</div>

</div>

<%= render_list(@in_progress, "inprogress", "Happening Now at #{@venue.name}", 'venues/schedule_item') %>

<%= render_list(@upcoming, "upcoming", "Upcoming at #{@venue.name} (#{pluralize(@upcoming.count, 'show')})", 'venues/schedule_item') %>
