<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
	<div class="infoShow">
		<%= logo_image(@venue, :class => "large") %>
	    <h4><%= @venue.name %></h4>
		<div class="description" id="venue_collapsable">
			<%= textilize(@venue.description) %>
		</div>		
	    <p><%= @venue.address1 %><br/>
		<% if @venue.address2.present? %>	
			<%= @venue.address2 %><br/>
		<% end %>
	    <%= @venue.city %>, <%= @venue.state %>  <%= @venue.zip %></p>
	    <p>Phone: <%= @venue.phone %></p>
	</div>
	<% if @venue.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @venue.links.sort_by{|venue| venue.weblocation.popularity}.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
    </div>
<% end %>

<% in_progress_area do %>
	<% if @in_progress.count > 0 %>
	<%= render :partial => 'shared/schedule_list', :locals => {:list => @in_progress, :title => "Happening Now at #{@venue.name}", :item_partial => 'venues/schedule_item'} %>
	<% end %>
<% end %>

<% upcoming_area do %>
	<% if @upcoming.count > 0 %>
	<%= render :partial => 'shared/schedule_list', :locals => {:list => @upcoming, :title => "Upcoming at #{@venue.name}", :item_partial => 'venues/schedule_item'} %>
	<% end %>
<% end %>

<% admin_area do %>
	<% if false %>
		<%= link_to edit_venue_path(@venue) do %>
			<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
		<% end %>
	<% end %>
<% end %>



