<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
	<img src="<%= logo_for(@venue) %>" style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(226,226,226,0.2))); margin: 0 10px 50px 0; float: left;" />
    <h4><%= @venue.name %></h4>
	<div class="description"><%= textilize(@venue.description) %></div>
    <p><%= @venue.address1 %><br/>
	<% if @venue.address2 %>	
		<%= @venue.address2 %><br/>
	<% end %>
    <%= @venue.city %>, <%= @venue.state %>  <%= @venue.zip %></p>
    <p>Phone: <%= @venue.phone %></p>
	<p class="visit">Visit us:</p>
	<% @venue.links.each do |link| %>
		<%= make_link(link) %>
	<% end %>
    </div>
<% end %>

<% upcoming_area do %>
<h2>Upcoming Events at <%= @venue.name %></h2>
	<% @future_occurrences.group_by{ |o| o.event_start}.each do |date, occurrences_for_date | %>
		<% occurrences_for_date.each do |occurrence| %>
		<%= link_to current_event_path(occurrence.event, occurrence), :class => "link_box" do %>
			<img src="<%= logo_for(occurrence.event) %>" class="small" />
			<div class="info">
			<h4><%= occurrence.event.name %></h4>
			<% occurrence.performances.each do |performance| %>
				<% if performance.priority > 0 %>
				<p><%= performance.act.name %></p>
				<% end %>
			<% end %>
			<p class="dates"><%= date.to_date.to_s(:long) %></p>
			<p class="times"><%= occurrence_times(occurrence) %></p>
			<%= display_cover_charge(occurrence) %>
			</div>
		<% end %>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to edit_venue_path(@venue) do %>
		<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
	<% end %>
<% end %>



