<% @title = @festival.name %>
<div class="specificHeader">
	<div id="side">
		<%= logo_image(@festival, :class => "large") %>
		<%= content_tag :p, "Visit us:", :class => "visit" if @festival.links.present? %>
			<% @festival.links.sort_by{|festival| festival.weblocation.popularity}.each do |link| %>
				<%= make_link(link) %>
			<% end %>
	</div>
	<div class="infoShow">
		<h5><%= @festival.name %></h5>
    <pp class="dates"><%= festival_dates(@festival) %></p>
		<div class="description" id="event_collapsable">
			<%= textilize(@festival.description) %>
		</div>
	</div>
</div>

<div id="sortBy">
  <%= link_to "Sort By Schedule", festival_path(@festival, :organize => "bydate"),  {:id => "bySchedule", :class => org_class('bydate') } %>
  <%= link_to "Sort By Acts",     festival_path(@festival, :organize => "byact"),   {:id => "byActs",     :class => org_class('byact') } %>
  <%= link_to "Sort By Venues",   festival_path(@festival, :organize => "byvenue"), {:id => "byVenues",   :class => org_class('byvenue') } %>
</div>

<%= render_list(@upcoming, "upcoming", "Schedule for #{@festival.name}", 'shared/schedule_item') %>

