<% @features.keys.sort.each do |date| %>
	<div class="boxIndex">
		<h2><%= date.strftime("%A, %B %d, %Y") %></h2>
		
		<% @features[date].each do |event_key, features| %>
			<a href=<%= event_path(event_key[0]) %> style="background: url(<%= venue_logo(features[0]) %>) no-repeat left 5px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
				<h4 class="event_name"><%= event_key[0].name %></h4>
			<% features.each do |feature| %>
				<p class="event_feature"><%= feature.promotion.name %></p>
			<% end %>
			<p class="event_times"><%= event_times(features) %></p></a>
		<% end %>
	</div>

<% end %>

<br />

<%= link_to 'New Event', new_event_path %>
<%= link_to 'New Feature', new_feature_path %>
