<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iDewIt</title>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href=<%= asset_path 'icon.png' %> />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<h1>iDewIt</h1>
<a href="javascript:history.back();"><img src="<%= asset_path 'back-button.png' %>" style="position: absolute; top: 7px; left: 10px; border: none;"></a>
<!--<div id="search"><img src="<%= asset_path 'search.png' %>" width="320" height="41"></div>-->

<p id="notice"><%= notice %></p>

<%= yield :admin %>

<%= yield :specific %>

<%= yield :related %>

<%= yield :in_progress %>

<%= yield :upcoming %>

<%= yield :index %>

<p class="copyright">&copy; 2012 Awkward Fist Bump Software</p>
<div id="tabbarbg">
	<div id="tabbar">
		<%= link_to("Schedule", schedules_path, {:class => page_class('schedules')}) %>
		<%= link_to("Acts", acts_path, {:class => page_class('acts')}) %>
		<%= link_to("Events", events_path, {:class => page_class('events')}) %>
		<%= link_to("Venues", venues_path, {:class => page_class('venues')}) %>
	</div>
</div>
</body>
</html>
