<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DEW IT!</title>

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <link rel="apple-touch-icon" href="images/icon.png" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<h1>Dewey Beach App</h1>
<div id="search"><img src="<%= asset_path 'search-new.png' %>" width="320" height="44"></div>
<%= yield %>

</body>
</html>
