<%= form_for @act, :html => {:multipart => true} do |f| %>
  <% if @act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
      <% @act.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="margin: 10px;">
	
	<div class="field">
		<%= f.file_field :logo %>
	</div>	
	
	<div class="field">
		<%= f.label :name, :style => "font: bold 10pt helvetica;" %><br />
		<%= f.text_field :name, :style => "width: 280px;" %>
	</div>
	<div class="field">
		<%= f.label :hometown, :style => "font: bold 10pt helvetica;" %><br />
		<%= f.text_field :hometown, :style => "width: 280px;" %>
	</div>
	<div class="field">
		<%= f.label :formerly, :style => "font: bold 10pt helvetica;" %><br />
		<%= f.text_field :formerly, :style => "width: 280px;" %>
	</div>
	<div class="field">
		<%= f.label :description, :style => "font: bold 10pt helvetica;" %><br />
		<%= f.text_area :description, :style => "width: 280px;" %>
	</div>  


	<div id="links" style="margin-top: 20px; border-top: 1px solid #000; position: relative; padding-top: 20px;">
		<p style="background-color: #fff; padding: 3px; position: absolute; top: -12px; left: 5px; font: bold 12pt helvetica;">Web Links</p>
		<%= link_to_add_fields "Add Link", f, :links %>
		<%= f.fields_for :links do |builder| %>
			<%= render "link_fields", :f => builder %>
		<% end %>
	</div>  
	
	<div class="actions" style="padding: 20px 0;">
		<%= f.submit %>
	</div>
<% end %>
</div>