<%= link_to current_event_path(performance.event, performance.occurrence), :class => "link_box" do %>
<img src="<%= logo_for(performance.venue) %>" class="small" />
<div class="info">
	<h4><%= performance.event.name %></h4>
	<% performance.occurrence.performances.each do |perf| %>
		<p><%= perf.act.name if perf.priority > 0 %></p>
	<% end %>
	<p class="dates"><%= performance.occurrence.event_start.to_date.to_s(:long) %></p>
	<p class="times"><%= occurrence_times(performance.occurrence) %></p>
	<%= display_cover_charge(performance.occurrence) %>	
</div>
<% end %>
