<p id="notice"><%= notice %></p>

<% index_area do %>
<h2>Acts</h2>
	<% @acts.group_by{ |a| sortable_name(a.name).chars.first }.each do |letter, acts| %>
		<h3><%= letter %></h3>
		<% acts.each do |act| %>
		<%= link_to act_path(act), :class => "link_box" do %>
		<img src="<%= logo_for(act) %>" class="small" />
			<h4 class="oneline"><%= act.name %> <% if act.formerly %><em class="formerly"> - Formerly: <%= act.formerly %></em><%end%></h4>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
<% end %>