<p id="notice"><%= notice %></p>

<% index_area do %>
<h2>Acts</h2>
	<% histogram(@acts).each do |letter, acts| %>
		<h3><%= letter %></h3>
		<% acts.each do |act| %>
		<%= link_to act_path(act), :class => "link_box" do %>
		<%= logo_image(act, :class => "small") %>
			<h5 class="oneline"><%= act.name %> <% if act.formerly.present? %><em class="formerly"> - Formerly: <%= act.formerly %></em><%end%></h5>
			<% end %>
		<% end %>
	<% end %>
<% end %>
