<p id="notice"><%= notice %></p>

<% index_area do %>
<h2>Acts</h2>
	<% @acts.group_by{ |a| sortable_name(a.name).chars.first }.each do |letter, acts| %>
		<h2><%= letter %></h2>
		<% acts.each do |act| %>
		<a href=<%= act_path(act) %> style="background: url(<%= logo_for(act, :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<h3 style="padding-top: 20px;"><%= act.name %>
			<% if act.formerly %><br/><i>Formerly: <%= act.formerly %></i><%end%>
			</h3>
		</a>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
<%= link_to 'New Act', new_act_path %>
<% end %>