<% @title="Acts" %>
<div class='boxIndex'>
<% histogram(@acts).each do |letter, acts| %>
	<h2 id="<%= letter %>"><%= letter %></h2>
	<% acts.each do |act| %>
		<%= link_to act_path(act), :class => "link_box" do %>
		<%= logo_image(act, :class => "small") %>
			<h5 class="oneline"><%= act.name %> <% if act.formerly.present? %><em class="formerly"> - Formerly: <%= act.formerly %></em><%end%></h5>
		<% end %>
	<% end %>
<% end %>
</div>
<div id='rolodex'>
    <a href="#">#</a>
    <a href="#A">A</a>
    <a href="#B">B</a>
    <a href="#C">C</a>
    <a href="#D">D</a>
    <a href="#E">E</a>
    <a href="#F">F</a>
    <a href="#G">G</a>
    <a href="#H">H</a>
    <a href="#I">I</a>
    <a href="#J">J</a>
    <a href="#K">K</a>
    <a href="#L">L</a>
    <a href="#M">M</a>
    <a href="#N">N</a>
    <a href="#O">O</a>
    <a href="#P">P</a>
    <a href="#Q">Q</a>
    <a href="#R">R</a>
    <a href="#S">S</a>
    <a href="#T">T</a>
    <a href="#U">U</a>
    <a href="#V">V</a>
    <a href="#W">W</a>
    <a href="#X">X</a>
    <a href="#Y">Y</a>
    <a href="#Z">Z</a>
</div>
