<% @title="Acts" %>
<div class='boxIndex'>
<% histogram(@acts).each do |letter, acts| %>
	<h2><%= letter %></h2>
	<% acts.each do |act| %>
		<%= link_to act_path(act), :class => "link_box" do %>
		<%= logo_image(act, :class => "small") %>
			<h5 class="oneline"><%= act.name %> <% if act.formerly.present? %><em class="formerly"> - Formerly: <%= act.formerly %></em><%end%></h5>
		<% end %>
	<% end %>
<% end %>
</div>
