<p id="notice"><%= notice %></p>

<% index_area do %>
<h3>Acts</h3>
	<% @acts.group_by{ |a| sortable_name(a.name).chars.first }.each do |letter, acts| %>
		<h2><%= letter %></h2>
		<% acts.each do |act| %>
		<%= link_to act_path(act), :class => "link_box" do %>
		<%= logo_image(act, :class => "small") %>
			<h4 class="oneline"><%= act.name %> <% if act.formerly.present? %><em class="formerly"> - Formerly: <%= act.formerly %></em><%end%></h4>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
<% end %>