<% @title = @act.name %>
<div class="specificHeader">
	<div id="side">
		<%= logo_image(@act, :class => "large") %>
		<%= content_tag :p, "Visit us:", :class => "visit" if @act.links.present? %>
			<% @act.links.sort_by{|act| act.weblocation.popularity}.each do |link| %>
				<%= make_link(link) %>
			<% end %>
	</div>
	<div class="infoShow">
		<%= content_tag :h5, @act.name %>	
		<%= display_formerly(@act) %>
		<%= display_hometown(@act) %>
		<div class="description" id="act_collapsable">
			<%= textilize(@act.description) %>
		</div>
	</div>

</div>	

<%= content_tag :h2, "Related Acts" if @act.related.present? %>
<% @act.related.sort_by{ |a| sortable_name(a.name) }.each do |related_act| %>
	<%= link_to act_path(related_act), :class => "list_box" do %>
		<%= logo_image(related_act, :class => "list") %>
			<h5 class="oneline"><%= related_act.name %></h5>	
	<% end %>
<% end %>

<%= render_list(@in_progress, "inprogress", "Happening Now", 'shared/schedule_item') %>

<%= render_list(@upcoming, "upcoming", "Upcoming for #{@act.name} (#{pluralize(@upcoming.count, 'show')})", 'shared/schedule_item') %>
