<p id="notice"><%= notice %></p>

<div class="boxSpecific">
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@act, :large) %>) no-repeat 10px 10px">
	<%= content_tag :h2, @act.name %>	
    <p class="event_description"><%= @act.description %></p>
    <%= link_to "On the web", @act.website, :target => "_blank" %>
	</div>
</div>

<div class="boxIndex">
	<h2>Upcoming events for <%= @act.name %></h2>
<% @future_occurrences.each do |date, occurrences| %>
	<% occurrences.each do |occurrence| %>
	<a href=<%= current_event_path(occurrence.event, occurrence) %> style="background: url(<%= logo_for(occurrence.event, :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
		<h4 class="event_name"><%= occurrence.event.name %></h4>
		<% occurrence.performances.each do |performance| %>
		<% if (performance.priority || 0) > 0 %>
				<p class="event_feature"><%= performance.act.name %></p>
			<% end %>
		<% end %>
		<span class="event_times"><%= date_and_times(date, occurrence) %></span>
    <% end %>
<% end %></a>
</div>


<%= link_to 'Edit', edit_act_path(@act) %> |
<%= link_to 'Back', acts_path %>
