<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@act, :large) %>) no-repeat 10px 10px">
	<%= content_tag :h4, @act.name %>	
    <p class="description"><%= @act.description %></p>
	</div>
	<div class="webLinks">
	<%= link_to "", @act.website, :target => "_blank", :class => "webAnchor webSite" %>
	<%= link_to "", @act.facebook, :target => "_blank", :class => "webAnchor facebook" %>
	<%= link_to "", @act.twitter, :target => "_blank", :class => "webAnchor twitter" %>
	</div>
<% end %>

<% upcoming_area do %>
	<h2>Upcoming Events for <%= @act.name %></h2>
	<% @future_occurrences.group_by{ |o| o.event_start}.each do |date, occurrences_for_date | %>
		<% occurrences_for_date.each do |occurrence| %>
		<a href=<%= current_event_path(occurrence.event, occurrence) %> style="background: url(<%= logo_for(occurrence.venues[0], :small) %>) no-repeat 10px 10px,  url(<%= asset_path 'arrow.png' %>) no-repeat right center;">
			<h4><%= occurrence.event.name %></h4>
			<% occurrence.performances.each do |performance| %>
				<% if performance.priority > 0 %>
				<p><%= performance.act.name %></p>
				<% end %>
			<% end %>
			<p class="times"><%= date_and_times(date, occurrence) %></p>
		</a>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to 'Edit', edit_act_path(@act) %> |
	<%= link_to 'Back', acts_path %>
<% end %>