<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
	<img src="<%= logo_for(@act, :large) %>" class="large" />
	<%= content_tag :h4, @act.name %>	
	<%= display_hometown(@act) %>
	<div class="description"><%= textilize(@act.description) %></div>
	<%= link_to "", @act.website, :target => "_blank", :class => "webAnchor webSite" %>
	<%= link_to "", @act.facebook, :target => "_blank", :class => "webAnchor facebook" %>
	<%= link_to "", @act.twitter, :target => "_blank", :class => "webAnchor twitter" %>
	</div>
<% end %>

<% upcoming_area do %>
	<h2>Upcoming Events for <%= @act.name %></h2>
	<% @future_performances.group_by{ |p| p.performance_start.to_date}.each do |date, performances_for_date | %>
	<% performances_for_date.each do |performance| %>
			<%= link_to current_event_path(performance.event, performance.occurrence), :class => "link_box" do %>
			<img src="<%= logo_for(performance.occurrence.venues[0], :large) %>" class="small" />
			<div class="info">
			<h4><%= performance.occurrence.event.name %></h4>
				<% performance.occurrence.performances.each do |perf| %>
				<% if perf.priority > 0 %>
				<p><%= perf.act.name %></p>
					<% end %>
				<% end %>
				<p class="dates"><%= date.to_date.to_s(:long) %></p>
				<p class="times"><%= occurrence_times(performance.occurrence) %></p>
				</div>
			<% end %>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to 'Edit', edit_act_path(@act) %> |
	<%= link_to 'Back', acts_path %>
<% end %>