<% specific_area do %>
    <div class="specificHeader">
		<div class="infoShow">
			<%= logo_image(@act, :class => "large") %>
			<%= content_tag :h4, @act.name %>	
			<%= display_hometown(@act) %>
			<div class="description" id="act_collapsable">
				<%= textilize(@act.description) %>
			</div>
		</div>
	<% if @act.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @act.links.sort_by{|act| act.weblocation.popularity}.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
	</div>	
<% end %>

<% related_area do %>
	<% if @act.related.count > 0 %>
		<h2>Related Acts</h2>
		<% @act.related.sort_by{ |a| sortable_name(a.name) }.each do |related_act| %>
		<%= link_to act_path(related_act), :class => "link_box" do %>
			<%= logo_image(related_act, :class => "small") %>
				<h4 class="oneline"><%= related_act.name %></h4>	
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% in_progress_area do %>
	<% if @in_progress.count > 0 %>
	<%= render :partial => 'shared/schedule_list', :locals => {:list => @in_progress, :options => {:class => "inprogress"}, :title => "Happening Now", :item_partial => 'acts/schedule_item'} %>
	<% end %>
<% end %>

<% upcoming_area do %>
	<% if @upcoming.count > 0 %>
		<%= render :partial => 'shared/schedule_list', :locals => {:list => @upcoming, :options => {:class => "upcoming"}, :title => "Upcoming for #{@act.name}", :item_partial => 'acts/schedule_item'} %>
	<% end %>
<% end %>

<% admin_area do %>
	<% if false %>
		<%= link_to edit_act_path(@act) do %>
			<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
		<% end %>
	<% end %>
<% end %>