<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
		<img src="<%= logo_for(@act) %>" class="large" />
		<div class="infoShow">
			<%= content_tag :h4, @act.name %>	
			<%= display_hometown(@act) %>
			<div class="description" id="act_collapsable">
				<%= textilize(@act.description) %>
			</div>
		</div>
	<% if @act.links.count > 0 %>
		<p class="visit">Visit us:</p>
		<% @act.links.each do |link| %>
			<%= make_link(link) %>
		<% end %>
	<% end %>
	</div>	
<% end %>

<% upcoming_area do %>
<% if @future_schedulables.count > 0 %>
	<h2>Upcoming for <%= @act.name %></h2>
		<% @future_schedulables.group_by{|s| s.start.to_date}.sort.each do |start_date, parent_items_for_date| %>
			<h3><%= date_and_times(start_date) %></h3>
			<% parent_items_for_date.each do |p| %>
			<%= link_to schedule_path(p), :class => "link_box" do %>
				<img src="<%= logo_for(p.location.venue) %>" class="small" />
					<div class="info">
						<h4><%= p.schedulable.name %><span class="times">, <%= time_list([p] + Schedule.children_that_are_same_as(p)) %></span></h4>
						<h5><%= p.location.name %></h5>
						<% if p.agenda.count > 0 %>	
							<% p.agenda.each do | schedulable_key, schedulable_items| %>
								<p><%= Schedule.retrieve(*schedulable_key).name %><span class="times">, <%= time_list(schedulable_items) %></span></p>
							<% end %>
						<% end %>
					</div>
				<% end %>
		
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to edit_act_path(@act) do %>
		<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
	<% end %>
<% end %>