<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
		<img src="<%= logo_for(@act) %>" class="large" />
	<%= content_tag :h4, @act.name %>	
	<%= display_hometown(@act) %>
	<div class="description"><%= textilize(@act.description) %></div>
	<% @act.links.each do |link| %>
		<%= make_link(link) %>
	<% end %>
	</div>
	
<div style="margin: 15px 0pt; text-align: center;">
 <div id="jTruncate_example1" style="border: 1px solid rgb(204, 204, 204); padding: 10px; margin-left: auto; margin-right: auto; width: 320px; background-color: rgb(239, 239, 209); text-align: left;">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam fringilla, purus a ultrices blandit,
  odio ante scelerisque neque, vitae imperdiet odio velit ac nisl. Sed tortor metus, placerat condimentum,
  feugiat in, feugiat adipiscing, mi. Donec pulvinar sem vitae leo. Vestibulum eget lectus et ligula hendrerit
  pharetra. Sed porta justo ac nisl. Aliquam nisi erat, pellentesque sed, sagittis eu, fringilla sit amet,
  dolor. Nam ac mi. Pellentesque pede purus, mattis aliquet, semper nec, cursus a, orci. Duis bibendum nibh
  ac massa. Integer eu tortor. Aenean convallis quam at nunc. Nunc mollis tincidunt nisi. Suspendisse mauris
  odio, iaculis ut, feugiat vitae, ultrices in, tortor. Quisque at elit. In hac habitasse platea dictumst.
 </div>
</div>

<% end %>

<% upcoming_area do %>
	<h2>Upcoming Events for <%= @act.name %></h2>
	<% @future_performances.group_by{ |p| p.performance_start.to_date}.each do |date, performances_for_date | %>
		<% performances_for_date.each do |performance| %>
			<%= render :partial => "acts/special_event", :locals => { :performance => performance } if performance.occurrence.event.is_special %>
			<%= render :partial => "acts/regular_event", :locals => { :performance => performance } unless performance.occurrence.event.is_special %>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to edit_act_path(@act) do %>
		<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
	<% end %>
<% end %>