<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader">
		<img src="<%= logo_for(@act) %>" class="large" />
	<%= content_tag :h4, @act.name %>	
	<%= display_hometown(@act) %>
	<div class="description"><%= textilize(@act.description) %></div>
	<% @act.links.each do |link| %>
		<%= make_link(link) %>
	<% end %>
	</div>
<% end %>

<% upcoming_area do %>
	<h2>Upcoming Events for <%= @act.name %></h2>
	<% @future_performances.group_by{ |p| p.performance_start.to_date}.each do |date, performances_for_date | %>
		<% performances_for_date.each do |performance| %>
			<%= render :partial => "acts/special_event", :locals => { :performance => performance } if performance.occurrence.event.is_special %>
			<%= render :partial => "acts/regular_event", :locals => { :performance => performance } unless performance.occurrence.event.is_special %>
	    <% end %>
	<% end %>
<% end %>

<% admin_area do %>
	<%= link_to edit_act_path(@act) do %>
		<img src="<%= asset_path 'edit-button.png' %>" style="position: absolute; top: 7px; right: 10px;">
	<% end %>
<% end %>