<p id="notice"><%= notice %></p>

<% specific_area do %>
    <div class="specificHeader" style="background: #f4f4f4 url(<%= logo_for(@act, :large) %>) no-repeat 10px 10px">
	<%= content_tag :h3, @act.name %>	
    <p class="description"><%= @act.description %></p>
	</div>
	<div class="webLinks">
	<%= link_to "", @act.website, :target => "_blank", :class => "webAnchor webSite" %>
	<%= link_to "", @act.facebook, :target => "_blank", :class => "webAnchor facebook" %>
	<%= link_to "", @act.twitter, :target => "_blank", :class => "webAnchor twitter" %>
	</div>
<% end %>

<% upcoming_area do %>
	<%= render :partial => "shared/upcoming_occurrences", :locals => { :title => "Upcoming Events for #{@act.name}", :occurrences => @future_occurrences } %>
<% end %>

<% admin_area do %>
	<%= link_to 'Edit', edit_act_path(@act) %> |
	<%= link_to 'Back', acts_path %>
<% end %>